<%
q = "
    select 
        a.id, 
        a.address, 
        a.shared,
        a.enabled,
        a.create_time,
        a.max_deliveries_per_day
    from eml_address a
    join \"user\" u on ( u.id_account='#{@login.user.id_account}' and u.id=a.id_user )
    where a.delete_time is null
    order by a.address
"
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		    <%=nav2("Emails", "/emails", "Addresses")%>
		</div>
		<div class="span6" style='text-align:right;'>
		    <a class='btn btn-blue' href='/emails/addresses/new'><i class='icon-plus'></i> Add</a>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span12 box">
        <table class="table table-striped" style="table-layout: fixed; width: 100%;">
            <thead>
                <th style="width:auto;">Address</th>
                <th style="width:90px;">Creation</th>
                <!--
                <th style="width:60px;">Shared</th>
                -->
                <th style="width:60px;">Enabled</th>
                <th style="width:60px;text-align:right;">Deliveries<br/>Per Day</th>
                <th style="width:24px;"><!-- edit --></th>
                <th style="width:24px;"><!-- delete --></th>
            </thead>
            <tbody>
                <%
                i = 0
                DB[q].all do |row|
                    i += 1
                    shared = row[:shared] ? "Yes" : "No"
                    color = row[:shared] ? "blue" : "gray"
                    enabled = row[:enabled] ? "Yes" : "No"
                    color2 = row[:enabled] ? "green" : "gray"
                %>
                <tr>
                    <td class="fix" title="<%=row[:address].to_s.encode_html%>"><a href='/emails/addresses/<%=row[:id].to_guid%>/edit'><%=row[:address].to_s.encode_html%></a></td>
                    <td class="fix" title="<%=row[:create_time].to_s.encode_html%>"><%=row[:create_time].to_s[0..9]%></td>
                    <!--
                    <td class="fix" title="<%=shared%>"><span class='badge badge-<%=color%>'><%=shared%></span></td>
                    -->
                    <td class="fix" title="<%=enabled%>"><span class='badge badge-<%=color2%>'><%=enabled%></span></td>
                    <td class="fix" style="text-align:right;" title="<%=row[:max_deliveries_per_day].to_i.to_label%>"><%=row[:max_deliveries_per_day].to_i.to_label%></td>
                    <td class="fix" style="text-align:right;"><a title='Edit' href='/emails/addresses/<%=row[:id].to_guid%>/edit'><i class='icon-pencil'></i></a></td>
                    <td class="fix" style="text-align:right;"><a title='Delete' href='/emails/filter_delete_address?aid=<%=row[:id].to_guid%>'><i class='icon-trash'></i></a></td>
                </tr>
                <%
                end

                if i==0
                %>
                <tr>
                    <td colspan="8" class="fix" align='center' style='text-align:center;'>
                        No addresses found.</br>
                        <a href='/emails/addresses/new'>Register a new address here.</a>
                    </td>
                <tr>
                <%
                end
                %>
            </tbody>
        </table>
    </div>
</section>
