<%
q = "
    select 
        c.id, 
        c.name, 
        e.id as id_export,
        e.filename as export_filename,
        c.subject, 
        u.id as id_user, 
        u.name as user_name, 
        c.create_time,
        c.stat_sent,
        c.stat_opened,
        c.stat_clicked,
        c.stat_unsubscribed
    from eml_campaign c
    join fl_export e on e.id=c.id_export
    join \"user\" u on (u.id=c.id_user and u.id_account='#{@login.user.id_account}')
    --where c.delete_time is null
    order by c.name
"
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		    <%=nav2("Emails", "/emails", "Campaigns")%>
		</div>
		<div class="span6" style='text-align:right;'>
		    <a class='btn btn-blue' href='/emails/campaigns/new'><i class='icon-plus'></i> Add</a>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span12 box">
        <table class="table table-striped" style="table-layout: fixed; width: 100%;">
            <thead>
                <th style="width:36px;"><!-- status --></th>
                <th style="width:90px;">Name</th>
                <th style="width:90px;">Export</th>
                <th style="width:auto;">Subject</th>
                <th style="width:90px;">Created By</th>
                <th style="width:45px;">Creation</th>
                <th style="width:45px;text-align:right;">Sent</th>
                <th style="width:45px;text-align:right;">Opens</th>
                <th style="width:45px;text-align:right;">Clicks</th>
                <th style="width:45px;text-align:right;">Unsubs</th>
                <th style="width:24px;"><!-- edit --></th>
            </thead>
            <tbody>
                <%
                i = 0
                DB[q].all do |row|
                    i += 1
                    o = BlackStack::Emails::Campaign.where(:id=>row[:id]).first
                %>
                <tr>
                    <td class="fix"><span class='badge badge-<%=o.status_color%>'><%=o.status_name%></span></td>
                    <td class="fix" title="<%=row[:name].to_s.encode_html%>"><%=row[:name].to_s.encode_html%></td>
                    <td class="fix" title="<%=row[:export_filename].to_s.encode_html%>"><%=row[:export_filename].to_s.encode_html%></td>
                    <td class="fix" title="<%=row[:subject].to_s.encode_html%>"><%=row[:subject].to_s.encode_html%></td>
                    <td class="fix" title="<%=row[:user_name].to_s.encode_html%>"><%=row[:user_name].to_s.encode_html%></td>
                    <td class="fix" title="<%=row[:create_time].to_s[0..9].encode_html%>"><%=row[:user_name].to_s.encode_html%></td>
                    <td class="fix" style="text-align:right;" title="<%=row[:stat_sent].to_i.to_label%>">
                        <a href='/email/campaigns/<%=row[:id].to_guid%>/sent'><%=row[:stat_sent].to_i.to_label%></a>
                        <br/>
                        <span style='color:gray;'><%=o.sent_ratio.to_i.to_label%>%</span>
                    </td>
                    <td class="fix" style="text-align:right;" title="<%=row[:stat_opened].to_i.to_label%>">
                        <a href='/email/campaigns/<%=row[:id].to_guid%>/opens'><%=row[:stat_opened].to_i.to_label%></a>
                        <br/>
                        <span style='color:gray;'><%=o.opens_ratio.to_i.to_label%>%</span>
                    </td>
                    <td class="fix" style="text-align:right;" title="<%=row[:stat_clicked].to_i.to_label%>">
                        <a href='/email/campaigns/<%=row[:id].to_guid%>/clicks'><%=row[:stat_clicked].to_i.to_label%></a>
                        <br/>
                        <span style='color:gray;'><%=o.clicks_ratio.to_i.to_label%>%</span>
                    </td>
                    <td class="fix" style="text-align:right;" title="<%=row[:stat_unsubscribed].to_i.to_label%>">
                        <a href='/email/campaigns/<%=row[:id].to_guid%>/unsubscribes'><%=row[:stat_sent].to_i.to_label%></a>
                        <br/>
                        <span style='color:gray;'><%=o.unsubscribes_ratio.to_i.to_label%>%</span>
                    </td>
                    <td class="fix" style="text-align:right;"><a title='Edit' href='/emails/campaigns/<%=row[:id].to_guid%>/edit'><i class='icon-pencil'></i></a></td>
                </tr>
                <%
                end

                if i==0
                %>
                <tr>
                    <td colspan="8" class="fix" align='center' style='text-align:center;'>
                        No campaigns found.</br>
                        <a href='/emails/campaigns/new'>Create a new campaign here.</a>
                    </td>
                <tr>
                <%
                end
                %>
            </tbody>
        </table>
    </div>
</section>
