<%
# load preferences
gid = params[:gid]
o = BlackStack::Emails::Campaign.where(:id=>gid).first
name = o.name
id_export = o.id_export
# put fields in readonly mode ?
disabled = o.can_edit? ? '' : 'disabled'
%>

<%
q = "
    select 
        e.id as id,
        e.filename as filename
    from fl_export e
    join \"user\" u on (u.id=e.id_user and u.id_account='#{@login.user.id_account}')
    --where e.delete_time is null
    order by e.filename
"
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		    <%=nav3("Emails", "/emails", "Campaigns", "/emails/campaigns", name)%>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span12 box">
		<form method='post' action='/emails/filter_edit_campaign' class="form-horizontal">
            <input type='hidden' id='gid' name='gid' value='<%=gid%>'/>

            <div class="control-group">
                <label class="control-label" for="status"><b>Status</b></label>
                <div class="controls">
                    <span class='badge badge-<%=o.status_color%>'><%=o.status_name%></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" id="name" name='name' placeholder="Name" value='<%=name.to_s.encode_html%>' />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="export">Export List</label>
                <div class="controls">
                    <select type="text" id="id_export" name='id_export' placeholder="Export List" <%=disabled%> >
                        <option value=''></option>
                        <%
                        DB[q].each { |row|
                            selected = id_export.to_s == row[:id].to_s ? "selected" : ""
                            %>
                            <option value='<%=row[:id].to_s.to_guid%>' <%=selected%>><%=row[:filename].to_s.encode_html%></option>
                            <%
                            GC.start
                            DB.disconnect
                        }
                        %>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-blue">Save</button>
                </div>
            </div>
        </form>
	</div>
</section>