<%
# load preferences
gid = params[:gid]
fid = params[:fid]
g = BlackStack::Emails::Campaign.where(:id=>gid).first
f = BlackStack::Emails::Followup.where(:id=>fid).first
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
    		<%=nav6("Emails", "/emails", "Campaigns", "/emails/campaigns", g.name, "/emails/campaigns/#{g.id.to_guid}", "FollowUps", "/emails/campaigns/#{g.id.to_guid}/followups", f.name, "/emails/campaigns/#{g.id.to_guid}/followups/#{f.id.to_guid}", 'Edit')%>
		</div>
		<div class="span6" style='text-align:right;'>
            <%
            if f.can_play?
                %>
                <a class="btn btn-green" href='/emails/filter_play_followup?gid=<%=fid%>'><i class='icon-play'></i> Play</a>
                <%
            elsif f.can_pause?
                %>
                <a class="btn btn-gray" href='/emails/filter_pause_followup?gid=<%=fid%>'><i class='icon-pause'></i> Pause</a>
                <%
            end
            %>
		    <a class='btn btn-blue' href='/emails/campaigns/#{g.id.to_guid}/followups/new'><i class='icon-plus'></i> New</a>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span12 box">
		<form method='post' action='/emails/filter_edit_followup' class="form-horizontal">
            <input type='hidden' id='fid' name='fid' value='<%=fid%>'/>
            <!-- textfield for name -->
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" id="name" name='name' placeholder="Name" value='<%=f.name.to_s.encode_html%>' />
                </div>
            </div>
            <!-- dropdown list for type -->
            <div class="control-group">
                <label class="control-label" for="type">Type</label>
                <div class="controls">
                    <select id="type" name='type'>
                        <%
                        BlackStack::Emails::Followup.types.each do |t|
                            %>
                            <option value='<%=t%>'<%=(t==f.type ? ' selected="selected"' : '')%>><%=BlackStack::Emails::Followup.type_name(t)%></option>
                            <%
                        end
                        %>
                    </select>
                </div>
            </div>
            <!-- dropdown list for sequence number -->
            <div class="control-group">
                <label class="control-label" for="sequence_number">Sequence Number</label>
                <div class="controls">
                    <input type="number" id="sequence_number" name='sequence_number' placeholder="Sequence Number" value='<%=f.sequence_number.to_s.encode_html%>' />
                </div>
            </div>
            <!-- dropdown list for delay days -->
            <div class="control-group">
                <label class="control-label" for="delay_days">Delay Days</label>
                <div class="controls">
                    <input type="number" id="delay_days" name='delay_days' placeholder="Delay Days" value='<%=f.delay_days.to_s.encode_html%>' />
                </div>
            </div>
            <!-- textfield for subject -->
            <div class="control-group">
                <label class="control-label" for="subject">Subject</label>
                <div class="controls">
                    <input class='input input-block-level' type="text" id="subject" name='subject' placeholder="subject" value='<%=f.subject.to_s.encode_html%>' />
                </div>
            </div>
            <!-- textarea for body -->
            <div class="control-group">
                <label class="control-label" for="divbody">Body</label>
                <div class="controls">
                    <textarea id="body" name='body' placeholder="Body" rows=5 style='width:100%;' maxlength=4000>
                        <%=f.body%>
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-blue">Save</button>
                </div>
            </div>
        </form>
	</div>
</section>

<script> 
    tinymce.init({
        selector: '#body',
        plugins: "emoticons hr image link lists table", 
        toolbar: "undo redo | bold italic image emoticons | formatgroup paragraphgroup insertgroup | <%=BlackStack::Emails::mergetags.map { |tag| tag.gsub('{','').gsub('}','') }.join(' ')%>",
        autosave_restore_when_empty: false,
        toolbar_groups: {
            formatgroup: {
                icon: 'format',
                tooltip: 'Formatting',
                items: 'bold italic underline strikethrough | forecolor backcolor | superscript subscript | removeformat'
            },
            paragraphgroup: {
                icon: 'paragraph',
                tooltip: 'Paragraph format',
                items: 'h1 h2 h3 | bullist numlist | alignleft aligncenter alignright | indent outdent'
            },
            insertgroup: {
                icon: 'plus',
                tooltip: 'Insert',
                items: 'link image emoticons hr'
            }
        },
        skin: 'outside',
        toolbar_location: 'bottom',
        menubar: false,
        statusbar: false,
        readonly: <%=f.can_edit? ? 'false' : 'true'%>,
        setup: function (editor) {
            <%
            BlackStack::Emails::mergetags.map { |tag| tag.gsub('{','').gsub('}','') }.each { |tag|
                %>
                editor.ui.registry.addButton('<%=tag%>', {
                    text: '{<%=tag%>}',
                    onAction: function (_) {
                        editor.insertContent('{<%=tag%>}');
                    }
                });
                <%
            }
            %>
        },
    });
</script>