<%
filter_keyword = @login.user.preference('emails.inboxes.filter.keyword', "", params[:keyword])

q = "
    select 
        d.id as id_delivery,
        d.create_time,

        c.id as id_campaign,
        c.name as campaign_name,

        l.id as id_lead, 
        l.name as lead_name,
        l.position as lead_position,
        l.stat_company_name as lead_company,
        
        d.body
        
    from eml_delivery d
    left join eml_job j on d.id_job = j.id
    left join eml_campaign c on j.id_campaign = c.id
    
    join \"user\" u on (d.id_user=u.id and u.id_account='#{@login.user.id_account}')
    join fl_lead l on (d.id_lead = l.id)
    where d.is_response = true
    #{filter_keyword.empty? ? "" : "and (l.name ilike '%#{filter_keyword}%' or l.position ilike '%#{filter_keyword}%' or l.stat_company_name ilike '%#{filter_keyword}%')"}
    order by d.delivery_end_time desc
    limit 100
"
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		    <%=nav2("Emails", "/emails", "Inboxes")%>
		</div>
		<div class="span6">
            <form action="/emails/inboxes" method="get">
            <div class="pull-right">
                <div class="span8">
                    <input type='text' class='input-block-level select-all-on-focus' id='keyword' name='keyword' value='<%=filter_keyword.encode_html%>'/>
                </div>

                <button class="btn btn-blue btn-medium btn-submit" style="margin-left: 2px;" type="submit" onclick="">
                    <i class='icon-search'></i> Search
                </button>
            </div>
            </form>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span4 box widget-support-tickets inbox-contaier">
        <div class='inboxes'>
            <%
            i = 0
            DB[q].all { |row|
                i += 1
                %>
                <div class='ticket'>
                    <span class="label label-green">reply</span>
                    <a href="#" title=""><%=row[:lead_name].to_s.encode_html%><span><%=row[:lead_position].to_s.encode_html%> | <%=row[:lead_company].to_s.encode_html%></span></a>
                    <img src="/emails/images/avatar.png" alt="Avatar">
                    <span class="opened-by">
                        <%
                        if !row[:id_campaign].nil?
                        %> 
                        Campaign: <a href="/emails/campaigns/<%=row[:id_campaign]%>/edit" title="Open Campaign"><%=row[:campaign_name].to_s.encode_html%></a> <br>
                        <%
                        end # if row[:campaign_id].nil?
                        %>                         
                        <%=row[:create_time].to_s%>
                    </span>
                </div>
                <%
            }

            if i == 0
                %>
                <div>
                    <i>No conversations found.</i>
                </div>
                <%
            end # if i == 0
            %>
        </div>
    </div>

	<div class="span8 box">
        <div class='widget-chat chats-contaier'>
        <div class='chats'>
            <div class="message">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Sarah Connor</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                        <button class="btn btn-mini btn-link">expand</button>
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
            <div class="message right">
                <img src="/emails/images/avatar.png" alt="">
                <div>
                    <a href="#" title="">Second User</a> says:
                    <span class="pull-right">2 minutes ago</span>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class='reply'>
            <textarea id="body" name='body' placeholder="Body" rows=2 style='width:100%;' maxlength=4000></textarea>
        </div>


    </div>
</section>


<script> 
    // design the edit like a chat box.
    // reference: https://www.tiny.cloud/blog/build-a-chat-app-with-our-wysiwyg-editor/
    tinymce.init({
        height: 100,
        selector: '#body',
        plugins: "emoticons hr image link lists table autoresize", 
        toolbar: "bold italic link image emoticons | formatgroup paragraphgroup insertgroup | mySendButton",
        autosave_restore_when_empty: false,
        toolbar_groups: {
            formatgroup: {
                icon: 'format',
                tooltip: 'Formatting',
                items: 'bold italic underline strikethrough | forecolor backcolor | superscript subscript | removeformat'
            },
            paragraphgroup: {
                icon: 'paragraph',
                tooltip: 'Paragraph format',
                items: 'h1 h2 h3 | bullist numlist | alignleft aligncenter alignright | indent outdent'
            },
            insertgroup: {
                icon: 'plus',
                tooltip: 'Insert',
                items: 'undo redo link image emoticons hr'
            }
        },
        skin: 'outside',
        toolbar_location: 'top',
        menubar: false,
        statusbar: false,
        placeholder: 'Type your message here',
        setup: function (editor) {
            editor.ui.registry.addButton("mySendButton", {
                tooltip: "Send Message",
                text: "Send",
                onAction: function () {
                    alert(editor.getContent());
                    editor.resetContent();
                },
            });
        },
    });
</script>