<%
gid = params[:gid]
g = BlackStack::Emails::Campaign.where(:id=>gid).first

# load preferences
name = @login.user.preference('emails.campaign.followup.new.name', '', nil)
subject = @login.user.preference('emails.campaign.followup.new.subject', '', nil)
body = @login.user.preference('emails.campaign.followup.new.body', '', nil)
type = @login.user.preference('emails.campaign.followup.new.type', BlackStack::Emails::Followup::TYPE_TEXT, nil)
sequence_number = @login.user.preference('emails.campaign.followup.new.sequence_number', 1, nil)
delay_days = @login.user.preference('emails.campaign.followup.new.delay_days', 1, nil)
%>

<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
		<%=nav5("Emails", "/emails", "Campaigns", "/emails/campaigns", g.name, "/emails/campaigns/#{g.id.to_guid}", "FollowUps", "/emails/campaigns/#{g.id.to_guid}/followups", "New")%>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span12 box">
		<form method='post' action='/emails/filter_new_followup' class="form-horizontal">
            <input type='hidden' id='gid' name='gid' value='<%=gid%>'/>
            <!-- textfield for name -->
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" id="name" name='name' placeholder="Name" value='<%=name.to_s.encode_html%>' />
                </div>
            </div>
            <!-- dropdown list for type -->
            <div class="control-group">
                <label class="control-label" for="type">Type</label>
                <div class="controls">
                    <select id="type" name='type'>
                        <%
                        BlackStack::Emails::Followup.types.each do |t|
                            %>
                            <option value='<%=t%>'<%=(t==type ? ' selected="selected"' : '')%>><%=BlackStack::Emails::Followup.type_name(t)%></option>
                            <%
                        end
                        %>
                    </select>
                </div>
            </div>
            <!-- dropdown list for sequence number -->
            <div class="control-group">
                <label class="control-label" for="sequence_number">Sequence Number</label>
                <div class="controls">
                    <input type="number" id="sequence_number" name='sequence_number' placeholder="Sequence Number" value='<%=sequence_number.to_s.encode_html%>' />
                </div>
            </div>
            <!-- dropdown list for delay days -->
            <div class="control-group">
                <label class="control-label" for="delay_days">Delay Days</label>
                <div class="controls">
                    <input type="number" id="delay_days" name='delay_days' placeholder="Delay Days" value='<%=delay_days.to_s.encode_html%>' />
                </div>
            </div>
            <!-- textfield for subject -->
            <div class="control-group">
                <label class="control-label" for="subject">Subject</label>
                <div class="controls">
                    <input class='input input-block-level' type="text" id="subject" name='subject' placeholder="subject" value='<%=subject.to_s.encode_html%>' />
                </div>
            </div>
            <!-- textarea for body -->
            <div class="control-group">
                <label class="control-label" for="divbody">Body</label>
                <div class="controls">
                    <textarea id="body" name='body' placeholder="Body" rows=5 style='width:100%;' maxlength=4000>
                        <%=body%>
                    </textarea>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-blue">Create</button>
                </div>
            </div>

        </form>
	</div>
</section>

<script> 
    tinymce.init({
        selector: '#body',
        plugins: "emoticons hr image link lists table", 
        toolbar: "undo redo | bold italic image emoticons | formatgroup paragraphgroup insertgroup | <%=BlackStack::Emails::mergetags.map { |tag| tag.gsub('{','').gsub('}','') }.join(' ')%>",
        autosave_restore_when_empty: false,
        toolbar_groups: {
            formatgroup: {
                icon: 'format',
                tooltip: 'Formatting',
                items: 'bold italic underline strikethrough | forecolor backcolor | superscript subscript | removeformat'
            },
            paragraphgroup: {
                icon: 'paragraph',
                tooltip: 'Paragraph format',
                items: 'h1 h2 h3 | bullist numlist | alignleft aligncenter alignright | indent outdent'
            },
            insertgroup: {
                icon: 'plus',
                tooltip: 'Insert',
                items: 'link image emoticons hr'
            }
        },
        skin: 'outside',
        toolbar_location: 'bottom',
        menubar: false,
        statusbar: false,
        setup: function (editor) {
            <%
            BlackStack::Emails::mergetags.map { |tag| tag.gsub('{','').gsub('}','') }.each { |tag|
                %>
                editor.ui.registry.addButton('<%=tag%>', {
                    text: '{<%=tag%>}',
                    onAction: function (_) {
                        editor.insertContent('{<%=tag%>}');
                    }
                });
                <%
            }
            %>
        },
    });
</script>